{% extends "base.html" %}
{% block body %}
  <h1> Dashboard </h1>
    <div class="sub-nav">
        <ul>
            <li><a href="/review/"> General </a></li>
            <li><a href="/review/food"> Food </a></li>
            <li><a href="/review/server"> Server </a></li>
        <ul>
    </div>

    <h2>Analysis on {{name}}</h2>

    <img src="{{picture}}" style="width: 200px;" />

    <div id="vis_div"></div>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1');   // Don't need to specify chart libraries!
      google.setOnLoadCallback(drawVisualization);

      function drawVisualization() {
        var wrapper = new google.visualization.ChartWrapper({
          chartType: 'ColumnChart',
          dataTable: [['', '1 Star', '2 Stars', '3 Stars', '4 Stars', '5 Stars'],
                      ['', {{star_count[1]}}, {{star_count[2]}}, {{star_count[3]}}, {{star_count[4]}}, {{star_count[5]}}]],
          options: {'title': ''},
          containerId: 'vis_div'
        });
        wrapper.draw();

        var oTable = $('#datatable').dataTable();
        google.visualization.events.addListener(wrapper, 'select', selectHandler);
        function selectHandler() {
          var selectedItem = wrapper.getChart().getSelection()[0];
          if (selectedItem) {
            oTable.fnFilter(selectedItem.column, 0);
          }
        }
      }
    </script>

<h1>Comments</h1>
<table class="table table-striped" id="datatable">
  <thead>
    <tr>
      <th>Stars</th>
      <th>Comment</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {% for review in reviews %}
      <tr>
        <td>{{review.stars}}</td>
        <td>{{review.comment}}</td>
        <td>{{review.created_at}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>

<link rel="stylesheet" href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.css">
    
{% endblock %}