{% extends "base.html" %}
{% block body %}
	<h1> Dashboard </h1>
	<p><a href="/review/"> General </a></p>
	<p><a href="/review/food"> Food </a></p>
	<p><a href="/review/server"> Server </a></p>

	<h2> Food Analysis </h2>
 	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript">
	    google.load("visualization", "1", {packages:["corechart"]});
	    google.setOnLoadCallback(drawChart);
	    function drawChart() {
	      var arr = [];
	      arr.push(['Name', 'Average Rating', 'Cost', 'Type', 'Total Reviews']);
	      var food_items = {{food_items}}
	      for(var name in food_items) {
	        var values = food_items[name];
	        var star_count = values['star_count'];
	        arr.push([name, values['average'], values['price'], values['type'], values['total']])
	      }

	      var data = google.visualization.arrayToDataTable(arr);

	      var options = {
	        hAxis: {
            title: 'Average Rating',
            viewWindow: {
              min: 1,
              max: 5
            },
            ticks: [1, 2, 3, 4, 5]
          },
	        vAxis: {
	        	title: 'Total Reviews',
	        	viewWindowMode: 'pretty'
	        }
	      };

	      var chart = new google.visualization.BubbleChart(document.getElementById('chart_div'));
	      google.visualization.events.addListener(chart, 'select', selectHandler);
	      function selectHandler() {
	        var selectedItem = chart.getSelection()[0];
	        if (selectedItem) {
	          var value = data.getValue(selectedItem.row, 0); // 0 because no columns
	          window.location.href = window.location.href + '/dish?name=' + value;
	        }
	      }

	      chart.draw(data, options);

	    }
	  </script>
	  <div id="chart_div" style="width: 900px; height: 500px;"></div>
{% endblock %}