{% extends "base.html" %}
{% block body %}
    <link rel="stylesheet" type="text/css" href="/static/analysis.css">

    <div class="sub-nav">
        <ul>
            <li><a class="selected" href="/review/"> General </a></li>
            <li><a href="/review/food"> Food </a></li>
            <li><a href="/review/server"> Waiter </a></li>
        <ul>
    </div>

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <div>
    </div>

    <div class="col-md-4 widget">
        <div class="panel">
            <div class="panel-heading"><h2>General Ratings for Today</h2></div>
            <div class="panel-body" id="daily_rating" style="width:100%;"></div>
            <div class="panel-footer">
                <div class="number">4.6</div>
                <div class="label">Average Rating</div>
            </div>
        </div>
    </div>

    <div class="col-md-8 widget">
        <div class="panel">
            <div class="panel-heading">
                <h2>General Trend for Ratings</h2>
                <form>
                    <button class="col-md-4"> Week </button>
                    <button class="col-md-4"> Month </button>
                    <button class="col-md-4"> Year </button>
                </form>
            </div>
            <div class="panel-body"></div>
            <div class="panel-footer">
                <div class="number">4.6</div>
                <div class="label">Average Rating</div>
            </div>
        </div>
    </div>
    
    <div class="col-md-12 widget">
        <div class="panel">
            <div class="panel-heading"><h2>Comments</h2></div>
            <div class="panel-body">
                <table class="table table-hover compact" id="datatable">
                  <thead>
                    <tr>
                      <th>Stars</th>
                      <th>Comment</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for review in reviews %}
                      <tr>
                        <td><span class="hidden">{{review.stars}}</span><span class="stars">{{review.stars}}</span></td>
                        <td>{{review.comment}}</td>
                        <td>{{review.created_at.date()}}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.css">
    <script type="text/javascript">
      google.load('visualization', '1');   // Don't need to specify chart libraries!
      google.setOnLoadCallback(drawVisualization);

      function drawVisualization() {
        var wrapper = new google.visualization.ChartWrapper({
          chartType: 'BarChart',
          dataTable: google.visualization.arrayToDataTable([
             ['Rating', '# ratings', { role: 'style' }, { role: 'annotation' } ],
             ['1 Star', {{star_count[1]}}, 'fill-color: #ff3300; fill-opacity: 0.8', {{star_count[1]}} ],
             ['2 Stars', {{star_count[2]}}, 'fill-color: orange; fill-opacity: 0.8', {{star_count[2]}} ],
             ['3 Stars', {{star_count[3]}}, 'fill-color: yellow; fill-opacity: 0.8', {{star_count[3]}} ],
             ['4 Stars', {{star_count[4]}}, 'fill-color: rgb(116, 216, 16); fill-opacity: 0.8', {{star_count[4]}} ],
             ['5 Stars', {{star_count[5]}}, 'fill-color: green; fill-opacity: 0.8', {{star_count[5]}} ]
          ]),

          options: {'title': '', 'vAxis': { 'title': 'Total Reviews' },
                    'legend': {'position': 'top', 'textStyle': {'color': 'green', 'fontSize': 16}}
        },
          containerId: 'daily_rating'
        });

        wrapper.draw();
        google.visualization.events.addListener(wrapper, 'ready', onReady);
        function onReady() {
          google.visualization.events.addListener(wrapper, 'select', selectHandler);
        }

        var oTable = $('#datatable').dataTable();
        function selectHandler() {
          var selectedItem = wrapper.getChart().getSelection()[0];
          if (selectedItem) {
            oTable.fnFilter(selectedItem.column + '.', 0);
          }
        }
      }
    </script>


{% endblock %}
