{% extends "base.html" %}
{% block body %}
  <h1> Receipt </h1>
  {% for food_item in food_items %}
    <div>{{food_item.name}}</div>
    <div>{{food_item.cost}}</div>
  {% endfor %}
  {{json_query_data}}

  <div><img id="qr_img" /></div>

  <div style="display:none" id="qr_url">{{QR_url}}</div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script>
    $( document ).ready(function() {
      $('#qr_img').attr('src', $('#qr_url')[0].innerHTML)
    });
  </script>
{% endblock %}